* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  padding: 30px 80px;
  justify-content: space-between;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.container {
  width: 1140px;
  margin: auto;
  padding: 0;
}

.logo{
  font-size: 24px;
  color: #f16d7f;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
}

.cart{
  position: relative;
  display: flex;
}
.cart-block{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  box-sizing: border-box;
  right: 0;
  top: 130%;
  position: absolute;
  background-color: white;
  padding: 20px;
  color: black;
  width: 300px;
}

.cart-block:before{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 35px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}
.cart-item:not(:last-child){
  margin-bottom: 20px;
}
.cart-item-left{
  display: flex;
}
.cart-item img{
  align-self: flex-start;
  margin-right: 15px;
}
.product-single-price{
  font-size: 0.5em;
}
.product-price{
  margin-left: 30px;
}
.product-details{
  max-width: 150px;
}
.product-quantity {
  margin-top: 15px;
  font-size: 0.75em;
}
.cart-item-right{
  text-align: right;
}

.del-btn{
  margin-top: 5px;
  background-color: #000;
  padding: 5px 15px;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all ease-in-out .4s;
  cursor: pointer;
}
.del-btn:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-cart {
  padding: 15px 25px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  border: none;
  letter-spacing: 0.38px;
  border-radius: 7px;
}

.btn-cart:hover {
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #F42E49;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  outline: 2px solid #f16d7f;
}

.btn-cart:focus {
  outline: none;
}

.btn-cart:active {
  outline: 2px solid #F42E49;
  background-color: #f16d7f;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.btn-search {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.search-form{
  position: relative;
  margin-right: 50px;
  display: inline-block;
  color: #000;
}
.search-field:focus{
  outline: none;
}
.search-field {
  box-sizing: border-box;
  width: 200px;
  color: #000;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
}

.products {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 40px 80px;
}

.product-item {
  display: block;
  height: 345px;
  width: 170px;
  border: none;
  border-radius: 0;
  text-align: center;
}

.product-item img {
  display: inherit;
  height: 220px;
  width: 170px;
  background-color: #e9e9e9;
  text-align: center;
}

.product-item h3 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  padding-top: 18px;
  padding-left: 22px;
  margin-bottom: 0;
  text-align: left;
}

.product-item p {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-left: 22px;
  text-align: left;
}

.buy-btn {
  margin-top: 15px;
  width: 130px;
  height: 45px;
  color: #ef5b70;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #ef5b70;
}

.buy-btn:hover {
  background-color: #ef5b70;
  color: white;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.buy-btn:focus {
  outline: none;
}

.buy-btn:active {
  border: 1px solid #ef5b70;
  background-color: white;
  color: #ef5b70;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.error-msg {
  position: relative;
  display:block;
  padding: 20px;
  font-size: 2em;
  border: 3px solid #F42E49;
  border-radius: 7px;
  color: #F42E49;
  background-color: #fff;
}
.error {
  background-color: rgba(0,0,0, .5);
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}
.error-btn {
  top: -80px;
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: #F42E49;
  font-weight: bold;
  background-color: #fff;
}



